
.egypt-1{
	background-image:url(../img/egypt-thumb/1.jpg); 
	
}
.egypt-2{
	background-image:url(../img/egypt-thumb/2.jpg); 
}
.egypt-3{
	background-image:url(../img/egypt-thumb/3.jpg); 
	
}

.egypt-4{
	background-image:url(../img/egypt-thumb/4.jpg); 
	
}

.egypt-5{
	background-image:url(../img/egypt-thumb/5.jpg); 
	
}

.egypt-6{
	background-image:url(../img/egypt-thumb/6.jpg); 
	
}


.egypt-7{
	background-image:url(../img/egypt-thumb/7.jpg); 
	
}

.egypt-8{
	background-image:url(../img/egypt-thumb/8.jpg); 
	
}


.egypt-9{
	background-image:url(../img/egypt-thumb/9.jpg); 
	
}


.egypt-10{
	background-image:url(../img/egypt-thumb/10.jpg); 
	
}


.egypt-11{
	background-image:url(../img/egypt-thumb/11.jpg); 
	
}

.egypt-12{
	background-image:url(../img/egypt-thumb/12.jpg); 
	
}

.egypt-13{
	background-image:url(../img/egypt-thumb/13.jpg); 
	
}


.egypt-14{
	background-image:url(../img/egypt-thumb/14.jpg); 
	
}

.egypt-15{
	background-image:url(../img/egypt-thumb/15.jpg); 
	
}


.egypt-16{
	background-image:url(../img/egypt-thumb/16.jpg); 
	
}


.egypt-17{
	background-image:url(../img/egypt-thumb/17.jpg); 
	
}

.egypt-18{
	background-image:url(../img/egypt-thumb/18.jpg); 
	
}

.egypt-19{
	background-image:url(../img/egypt-thumb/19.jpg); 
	
}

.egypt-20{
	background-image:url(../img/egypt-thumb/20.jpg); 
	
}

.egypt-21{
	background-image:url(../img/egypt-thumb/21.jpg); 
	
}

.egypt-22{
	background-image:url(../img/egypt-thumb/22.jpg); 
	
}

.egypt-23{
	background-image:url(../img/egypt-thumb/23.jpg); 
	
}

.egypt-24{
	background-image:url(../img/egypt-thumb/24.jpg); 
	
}
