.events-1{
	background-image:url(../img/events-thumb/1.jpg); 
	filter: opacity(69%);
}


.events-1:hover{
	
	background-image:url(../img/events-thumb/1.jpg);
	filter: opacity(100%);
}

.events-2{
	background-image:url(../img/events-thumb/2.jpg); 
	filter: opacity(69%);
}

.events-2:hover{
	
	background-image:url(../img/events-thumb/2.jpg);
	filter: opacity(100%);
}

.events-3{
	background-image:url(../img/events-thumb/3.jpg); 
	filter: opacity(69%);
}

.events-3:hover{
	
	background-image:url(../img/events-thumb/3.jpg);
	filter: opacity(100%);
}

.events-4{
	background-image:url(../img/events-thumb/4.jpg); 
	filter: opacity(69%);
}

.events-4:hover{
	
	background-image:url(../img/events-thumb/4.jpg);
	filter: opacity(100%);
}
.events-5{
	background-image:url(../img/events-thumb/5.jpg); 
	filter: opacity(69%);
}

.events-5:hover{
	
	background-image:url(../img/events-thumb/5.jpg);
	filter: opacity(100%);
}

.events-6{
	background-image:url(../img/events-thumb/6.jpg); 
	filter: opacity(69%);
}

.events-6:hover{
	
	background-image:url(../img/events-thumb/6.jpg);
	filter: opacity(100%);
}

.events-7{
	background-image:url(../img/events-thumb/7.jpg); 
	filter: opacity(69%);
}

.events-7:hover{
	
	background-image:url(../img/events-thumb/7.jpg);
	filter: opacity(100%);
}
.events-8{
	background-image:url(../img/events-thumb/8.jpg); 
	filter: opacity(69%);
}

.events-8:hover{
	
	background-image:url(../img/events-thumb/8.jpg);
	filter: opacity(100%);
}
.events-9{
	background-image:url(../img/events-thumb/9.jpg); 
	filter: opacity(69%);
}

.events-9:hover{
	
	background-image:url(../img/events-thumb/9.jpg);
	filter: opacity(100%);
}
.events-10{
	background-image:url(../img/events-thumb/10.jpg); 
	filter: opacity(69%);
}

.events-10:hover{
	
	background-image:url(../img/events-thumb/10.jpg);
	filter: opacity(100%);
}
.events-11{
	background-image:url(../img/events-thumb/11.jpg); 
	filter: opacity(69%);
}

.events-11:hover{
	
	background-image:url(../img/events-thumb/11.jpg);
	filter: opacity(100%);
}
.events-12{
	background-image:url(../img/events-thumb/12.jpg); 
	filter: opacity(69%);
}

.events-12:hover{
	
	background-image:url(../img/events-thumb/12.jpg);
	filter: opacity(100%);
}

.events-13{
	background-image:url(../img/events-thumb/13.jpg); 
	filter: opacity(69%);
}

.events-13:hover{
	
	background-image:url(../img/events-thumb/13.jpg);
	filter: opacity(100%);
}

.events-14{
	background-image:url(../img/events-thumb/14.jpg); 
	filter: opacity(69%);
}

.events-14:hover{
	
	background-image:url(../img/events-thumb/14.jpg);
	filter: opacity(100%);
}
.events-15{
	background-image:url(../img/events-thumb/15.jpg); 
	filter: opacity(69%);
}

.events-15:hover{
	
	background-image:url(../img/events-thumb/15.jpg);
	filter: opacity(100%);
}

.events-16{
	background-image:url(../img/events-thumb/16.jpg); 
	filter: opacity(69%);
}

.events-16:hover{
	
	background-image:url(../img/events-thumb/16.jpg);
	filter: opacity(100%);
}

.events-17{
	background-image:url(../img/events-thumb/17.jpg); 
	filter: opacity(69%);
}

.events-17:hover{
	
	background-image:url(../img/events-thumb/17.jpg);
	filter: opacity(100%);
}
.events-18{
	background-image:url(../img/events-thumb/18.jpg); 
	filter: opacity(69%);
}

.events-18:hover{
	
	background-image:url(../img/events-thumb/18.jpg);
	filter: opacity(100%);
}
.events-19{
	background-image:url(../img/events-thumb/19.jpg); 
	filter: opacity(69%);
}

.events-19:hover{
	
	background-image:url(../img/events-thumb/19.jpg);
	filter: opacity(100%);
}
.events-20{
	background-image:url(../img/events-thumb/20.jpg); 
	filter: opacity(69%);
}

.events-20:hover{
	
	background-image:url(../img/events-thumb/20.jpg);
	filter: opacity(100%);
}