
.italy-1{
	background-image:url(../img/italy-thumb/1.jpg); 
	
}
.italy-2{
	background-image:url(../img/italy-thumb/2.jpg); 
}
.italy-3{
	background-image:url(../img/italy-thumb/3.jpg); 
	
}

.italy-4{
	background-image:url(../img/italy-thumb/4.jpg); 
	
}

.italy-5{
	background-image:url(../img/italy-thumb/5.jpg); 
	
}

.italy-6{
	background-image:url(../img/italy-thumb/6.jpg); 
	
}


.italy-7{
	background-image:url(../img/italy-thumb/7.jpg); 
	
}

.italy-8{
	background-image:url(../img/italy-thumb/8.jpg); 
	
}


.italy-9{
	background-image:url(../img/italy-thumb/9.jpg); 
	
}


.italy-10{
	background-image:url(../img/italy-thumb/10.jpg); 
	
}


.italy-11{
	background-image:url(../img/italy-thumb/11.jpg); 
	
}

.italy-12{
	background-image:url(../img/italy-thumb/12.jpg); 
	
}

.italy-13{
	background-image:url(../img/italy-thumb/13.jpg); 
	
}


.italy-14{
	background-image:url(../img/italy-thumb/14.jpg); 
	
}

.italy-15{
	background-image:url(../img/italy-thumb/15.jpg); 
	
}


.italy-16{
	background-image:url(../img/italy-thumb/16.jpg); 
	
}


.italy-17{
	background-image:url(../img/italy-thumb/17.jpg); 
	
}

.italy-18{
	background-image:url(../img/italy-thumb/18.jpg); 
	
}

.italy-19{
	background-image:url(../img/italy-thumb/19.jpg); 
	
}

.italy-20{
	background-image:url(../img/italy-thumb/20.jpg); 
	
}

.italy-21{
	background-image:url(../img/italy-thumb/21.jpg); 
	
}

.italy-22{
	background-image:url(../img/italy-thumb/22.jpg); 
	
}

.italy-23{
	background-image:url(../img/italy-thumb/23.jpg); 
	
}

.italy-24{
	background-image:url(../img/italy-thumb/24.jpg); 
	
}

.italy-25{
	background-image:url(../img/italy-thumb/25.jpg); 
	
}

.italy-26{
	background-image:url(../img/italy-thumb/26.jpg); 
	
}

.italy-27{
	background-image:url(../img/italy-thumb/27.jpg); 
	
}

.italy-28{
	background-image:url(../img/italy-thumb/28.jpg); 
	
}

.italy-29{
	background-image:url(../img/italy-thumb/29.jpg); 
	
}

.italy-30{
	background-image:url(../img/italy-thumb/30.jpg); 
	
}

.italy-31{
	background-image:url(../img/italy-thumb/31.jpg); 
	
}

.italy-32{
	background-image:url(../img/italy-thumb/32.jpg); 
	
}

.italy-33{
	background-image:url(../img/italy-thumb/33.jpg); 
	
}

.italy-34{
	background-image:url(../img/italy-thumb/34.jpg); 
	
}

.italy-35{
	background-image:url(../img/italy-thumb/35.jpg); 
	
}


.italy-36{
	background-image:url(../img/italy-thumb/36.jpg); 
	
}

.italy-37{
	background-image:url(../img/italy-thumb/37.jpg); 
	
}

.italy-38{
	background-image:url(../img/italy-thumb/38.jpg); 
	
}

.italy-39{
	background-image:url(../img/italy-thumb/39.jpg); 
	
}

.italy-40{
	background-image:url(../img/italy-thumb/40.jpg); 
	
}
