
.poland-1{
	background-image:url(../img/poland-thumb/1.jpg); 
	
}
.poland-2{
	background-image:url(../img/poland-thumb/2.jpg); 
}
.poland-3{
	background-image:url(../img/poland-thumb/3.jpg); 
	
}

.poland-4{
	background-image:url(../img/poland-thumb/4.jpg); 
	
}

.poland-5{
	background-image:url(../img/poland-thumb/5.jpg); 
	
}

.poland-6{
	background-image:url(../img/poland-thumb/6.jpg); 
	
}


.poland-7{
	background-image:url(../img/poland-thumb/7.jpg); 
	
}

.poland-8{
	background-image:url(../img/poland-thumb/8.jpg); 
	
}


.poland-9{
	background-image:url(../img/poland-thumb/9.jpg); 
	
}


.poland-10{
	background-image:url(../img/poland-thumb/10.jpg); 
	
}


.poland-11{
	background-image:url(../img/poland-thumb/11.jpg); 
	
}

.poland-12{
	background-image:url(../img/poland-thumb/12.jpg); 
	
}

.poland-13{
	background-image:url(../img/poland-thumb/13.jpg); 
	
}


.poland-14{
	background-image:url(../img/poland-thumb/14.jpg); 
	
}

.poland-15{
	background-image:url(../img/poland-thumb/15.jpg); 
	
}


.poland-16{
	background-image:url(../img/poland-thumb/16.jpg); 
	
}


.poland-17{
	background-image:url(../img/poland-thumb/17.jpg); 
	
}

.poland-18{
	background-image:url(../img/poland-thumb/18.jpg); 
	
}

.poland-19{
	background-image:url(../img/poland-thumb/19.jpg); 
	
}

.poland-20{
	background-image:url(../img/poland-thumb/20.jpg); 
	
}

.poland-21{
	background-image:url(../img/poland-thumb/21.jpg); 
	
}

.poland-22{
	background-image:url(../img/poland-thumb/22.jpg); 
	
}

.poland-23{
	background-image:url(../img/poland-thumb/23.jpg); 
	
}

.poland-24{
	background-image:url(../img/poland-thumb/24.jpg); 
	
}
