
.tenerife-1{
	background-image:url(../img/tenerife-thumb/1.jpg); 
	
}
.tenerife-2{
	background-image:url(../img/tenerife-thumb/2.jpg); 
}
.tenerife-3{
	background-image:url(../img/tenerife-thumb/3.jpg); 
	
}

.tenerife-4{
	background-image:url(../img/tenerife-thumb/4.jpg); 
	
}

.tenerife-5{
	background-image:url(../img/tenerife-thumb/5.jpg); 
	
}

.tenerife-6{
	background-image:url(../img/tenerife-thumb/6.jpg); 
	
}


.tenerife-7{
	background-image:url(../img/tenerife-thumb/7.jpg); 
	
}

.tenerife-8{
	background-image:url(../img/tenerife-thumb/8.jpg); 
	
}


.tenerife-9{
	background-image:url(../img/tenerife-thumb/9.jpg); 
	
}


.tenerife-10{
	background-image:url(../img/tenerife-thumb/10.jpg); 
	
}


.tenerife-11{
	background-image:url(../img/tenerife-thumb/11.jpg); 
	
}

.tenerife-12{
	background-image:url(../img/tenerife-thumb/12.jpg); 
	
}

.tenerife-13{
	background-image:url(../img/tenerife-thumb/13.jpg); 
	
}


.tenerife-14{
	background-image:url(../img/tenerife-thumb/14.jpg); 
	
}

.tenerife-15{
	background-image:url(../img/tenerife-thumb/15.jpg); 
	
}


.tenerife-16{
	background-image:url(../img/tenerife-thumb/16.jpg); 
	
}


.tenerife-17{
	background-image:url(../img/tenerife-thumb/17.jpg); 
	
}

.tenerife-18{
	background-image:url(../img/tenerife-thumb/18.jpg); 
	
}

.tenerife-19{
	background-image:url(../img/tenerife-thumb/19.jpg); 
	
}

.tenerife-20{
	background-image:url(../img/tenerife-thumb/20.jpg); 
	
}

.tenerife-21{
	background-image:url(../img/tenerife-thumb/21.jpg); 
	
}

.tenerife-22{
	background-image:url(../img/tenerife-thumb/22.jpg); 
	
}

.tenerife-23{
	background-image:url(../img/tenerife-thumb/23.jpg); 
	
}

.tenerife-24{
	background-image:url(../img/tenerife-thumb/24.jpg); 
	
}

.tenerife-25{
	background-image:url(../img/tenerife-thumb/25.jpg); 
	
}

.tenerife-26{
	background-image:url(../img/tenerife-thumb/26.jpg); 
	
}

.tenerife-27{
	background-image:url(../img/tenerife-thumb/27.jpg); 
	
}

.tenerife-28{
	background-image:url(../img/tenerife-thumb/28.jpg); 
	
}

.tenerife-29{
	background-image:url(../img/tenerife-thumb/29.jpg); 
	
}

.tenerife-30{
	background-image:url(../img/tenerife-thumb/30.jpg); 
	
}

.tenerife-31{
	background-image:url(../img/tenerife-thumb/31.jpg); 
	
}

.tenerife-32{
	background-image:url(../img/tenerife-thumb/32.jpg); 
	
}

.tenerife-33{
	background-image:url(../img/tenerife-thumb/33.jpg); 
	
}

.tenerife-34{
	background-image:url(../img/tenerife-thumb/34.jpg); 
	
}

.tenerife-35{
	background-image:url(../img/tenerife-thumb/35.jpg); 
	
}


.tenerife-36{
	background-image:url(../img/tenerife-thumb/36.jpg); 
	
}
